{% extends 'base.html' %}

{% block title %}
    لیست مشتریان
{% endblock %}
{% block script %}
    <script>
        function gather_info(){
            var form = document.getElementById('form');
            var clients = document.getElementsByName('manageClient');
            for(var i=0; i<clients.length; ++i){
                if(clients[i].checked == false) continue;
                var input = document.createElement("input");
                input.setAttribute("type", "hidden");
                input.setAttribute("name", "clients[]");
                input.setAttribute("value", clients[i].id);
                form.appendChild(input);
            }
        }
    </script>
{% endblock %}
{% block main %}
  <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-5">مدیریت کاربران</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card sendcontentlist">
                        <div class="contentposts">
                            <form id="form" action="/client/all/" method="post">
                                {% csrf_token %}
                                <table>
                                    <tr>
                                        <th>عملیات</th>
                                        <th>نام کاربری</th>
                                        <th>ایمیل</th>
                                        <th>وضعیت</th>
                                    </tr>
                                    {% for client in clients %}
                                        <tr>
                                            <td>
                                                <input name="manageClient" id="{{ client.id }}" style="margin-top: 5px;display: inline-block" type="checkbox">
                                            </td>
                                            <td>
                                                {% if client.marketer %}
                                                <a href="/client/{{ client.id }}/marketer/">{{ client.username }}</a>
                                                {% else %}
                                                    {{ client.username }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ client.email }}
                                            </td>
                                            <td>
                                                {% if client.marketer %}بازاریاب {% else %} مشتری {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <div class="row2" style="margin-top: 30px;">

                                        <button type="submit" class="btn btn-success btn-block col-md-4"  onclick="gather_info()" style="margin: 10px auto;margin-top: 0;">
                                            <span class="fa fa-pencil-alt"></span>
                                            تغییر وضعیت
                                        </button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
    <footer class="settingfooter">
        <p>کپی رایت © نرم افزار ربات تبلیغات اینستاگرام. تمامی حقوق طراحی و ایده ها محفوظ و هرگونه کپی برداری پیگرد قانونی دارد.</p>
    </footer>
{% endblock %}