{% extends 'base.html' %}

{% block title %}
    مدیریت بازاریابان
{% endblock %}

{% block script %}
    <script>
        function edit_marketer(marketer_participation, marketer_income, marketer_id){
            var profitInput = document.getElementById('profitInput');
            var incomeInput = document.getElementById('incomeInput');
            var idInput = document.getElementById('idInput');

            profitInput.value = marketer_participation;
            incomeInput.value = marketer_income;
            idInput.value = marketer_id;
        }
    </script>
{% endblock %}
{% block modal %}
<div class="popup" id="all1">
    <div class="modal1 animation">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="offscrl1();"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">تنظیم سود بازاریاب</h4>
            </div>
            <form method="POST" action="/client/marketers/">
                <div class="modal-body">
                    {% csrf_token %}
                    <label>درصد سود مشارکت</label>
                    <input type="number" id="profitInput" name="profit" min="0" max="100" class="form-control"><br>
                    <label>میزان درآمد</label>
                    <input type="number" id="incomeInput" name="income" class="form-control">
                    <input type="hidden" id="idInput" name="id" value="-1">
                </div>


                <button type="submit" class="btn btn-primary addcmnt">
                    ویرایش
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block main %}
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-5">مدیریت بازاریاب</h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card sendcontentlist">
                        <div class="contentposts">
                            <table>
                                <tr>
                                    <th>عملیات</th>
                                    <th>نام کاربری</th>
                                    <th>ایمیل</th>
                                    <th>درصد سود مشارکت</th>
                                    <th>میزان درآمد</th>
                                </tr>
                                {% for marketer in marketers %}
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-success btn-block" id="adding1" onclick="modal1.style.display = 'block';edit_marketer({{ marketer.participation }}, {{ marketer.income }}, {{ marketer.id }})">
                                                <span class="fa fa-pencil-alt"></span>
                                                ویرایش
                                            </button>
                                        </td>
                                        <td>
                                            {{ marketer.username }}
                                        </td>
                                        <td>
                                            {{ marketer.email }}
                                        </td>
                                        <td>
                                            {{ marketer.participation }} %
                                        </td>
                                        <td>
                                            {{ marketer.income }} تومان
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
    <footer class="settingfooter">
        <p>کپی رایت © نرم افزار ربات تبلیغات اینستاگرام. تمامی حقوق طراحی و ایده ها محفوظ و هرگونه کپی برداری پیگرد قانونی دارد.</p>
    </footer>
{% endblock %}