{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="au theme template">
		<meta name="author" content="Hau Nguyen">
		<meta name="keywords" content="au theme template">
		{% block meta %}
		{% endblock %}
		<!-- Title Page-->
		<title>{% block title %} Dashboard {% endblock %}</title>
		<!-- Fontfaces CSS-->
		<link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
		<!-- Bootstrap CSS-->
		<link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">
		<!-- Vendor CSS-->
		<link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">
		<!-- Main CSS-->
		<link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">
		{% block link %}
			<style>
        		@media (max-width:1212px) {
        			.d-lg-block {
            			display: none !important;
        			}

					.page-container {
						position: relative;
						top: 88px;
						padding-right: 0;
					}
					.header-desktop {
						position: relative;
						top: 0;
						left: 0;
						height: 170px;
					}
					.header-button {
						margin-top: 30px;
						width: 100%;
						-webkit-box-pack: justify;
						-webkit-justify-content: space-between;
						-moz-box-pack: justify;
						-ms-flex-pack: justify;
						justify-content: space-between;
					}
					.header-wrap .account-item > .content {
					display: block;
					}
					.logo {
						text-align: center;
					}
					.d-lg-none {
						display: block !important;
					}
								.main-content {
						padding-top: 50px;
					}
			</style>
		{% endblock %}
	</head>
	<body class="animsition unselectable">
		{% block modal %}
		{% endblock %}
		<div class="page-wrapper">
			<!-- HEADER MOBILE-->
			<header class="header-mobile d-block d-lg-none">
				<div class="header-mobile__bar">
					<div class="container-fluid">
						<div class="header-mobile-inner">
							<a class="logo" href="index.html">
							<img src="{% static 'images/icon/logo.png' %}" alt="CoolAdmin" />
							</a>
							<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box">
							<span class="hamburger-inner"></span>
							</span>
							</button>
						</div>
					</div>
				</div>
				<nav class="navbar-mobile">
					<div class="container-fluid">
						<ul class="navbar-mobile__list list-unstyled">
							<li class="has-sub">
								<a class="js-arrow" href="#">
								<i class="fas fa-robot"></i><span class="fas fa-angle-left"></span>ربات اینستاگرام</a>
								<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
									<li>
										<a href="/client/dashboard/">
										<i class="fas fa-users"></i>لیست اکانت ها</a>
									</li>
									<li>
										<a href="/client/{{ request.user.id }}/charts/">
										<i class="fas fa-chart-bar"></i>گزارش گیری و آمار</a>
									</li>
									<li>
										<a href="/client/plan/list/">
										<i class="fas fa-credit-card"></i>خرید اعتبار ربات اینستاگرام</a>
									</li>
								</ul>
							</li>
							<li class="has-sub">
								<a class="js-arrow" href="#">
								<i class="fas fa-images"></i><span class="fas fa-angle-left"></span>سیستم ارسال محتوا</a>
								<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
									<li>
										<a href="/client/{{ request.user.id }}/post/">
										<i class="fas fa-image"></i>ارسال جدید</a>
									</li>
									<li>
										<a href="/client/{{ request.user.id }}/post/list/">
										<i class="fas fa-folder"></i>مدیریت فایل ها</a>
									</li>
								</ul>
							</li>
							<li class="has-sub">
								<a class="js-arrow" href="#">
								<i class="fa-ticket-alt"></i><span class="fas fa-angle-left"></span>تیکت پشتیبانی</a>
								<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
									<li>
										<a href="/ticket/{{ request.user.id }}/">
										<i class="fas fa-plus"></i>تیکت جدید</a>
									</li>
									<li>
										<a href="/ticket/{{ request.user.id }}/list/">
										<i class="fas fa-list-alt"></i>پیگیری تیکت ها</a>
									</li>
									{% if request.user.is_staff %}
										<li>
											<a href="/ticket/unseen/">
											<i class="fas fa-list-alt"></i>تیکت های جدید</a>
										</li>
										<li>
											<a href="/ticket/unreplied/">
											<i class="fas fa-list-alt"></i>تیکت های پاسخ داده نشده</a>
										</li>
									{% endif %}
								</ul>
							</li>
							<li class="has-sub">
								<a class="js-arrow" href="#">
								<i class="fas fa-cogs"></i><span class="fas fa-angle-left"></span>تنظیمات</a>
								<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
									<li>
										<a href="/client/reset/">
										<i class="fas fa-key"></i>تعویض رمز عبور</a>
									</li>
									<li>
										<a href="/client/{{ request.user.id }}/history/">
										<i class="fas fa-list-alt"></i>سوابق پرداخت ها</a>
									</li>
									{% if request.user.marketer %}
										<li>
											<a href="/client/{{ request.user.id }}/marketer/">
											<i class="fas fa-list-alt"></i>اطلاعات بازاریاب</a>
										</li>
									{% endif %}
								</ul>
							</li>
							{% if request.user.is_staff %}
								<li class="has-sub">
									<a class="js-arrow" href="#">
									<i class="fas fa-ticket-alt"></i><span class="fas fa-angle-left"></span>مدیریت پلن</a>
									<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
										<li>
											<a href="/client/plan/">
											<i class="fas fa-plus"></i>اضافه کردن پلن جدید</a>
										</li>
										<li>
											<a href="/client/plan/plans/">
											<i class="fas fa-list-alt"></i>لیست پلن ها</a>
										</li>
									</ul>
								</li>

								<li class="has-sub">
									<a class="js-arrow" href="#">
									<i class="fas fa-ticket-alt"></i><span class="fas fa-angle-left"></span>مدیریت کاربران</a>
									<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
										<li>
											<a href="/client/all/">
											<i class="fas fa-plus"></i>لیست مشتری ها</a>
										</li>
										<li>
											<a href="/client/marketers/">
											<i class="fas fa-list-alt"></i>مدیریت بازاریابان</a>
										</li>
									</ul>
								</li>

								<li>
									<a href="/client/usercharges/">
									<i class="fas fa-plus"></i>مدیریت شارژ یوزر های اینستاگرام</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</nav>
			</header>
			<!-- END HEADER MOBILE-->
			<!-- MENU SIDEBAR-->
			<aside class="menu-sidebar d-none d-lg-block">
				<div class="logo">
					<a href="/">
					<img src="{% static 'images/icon/logo.png' %}" alt="Cool Admin" />
					</a>
				</div>
				<div class="menu-sidebar__content js-scrollbar1">
					<nav class="navbar-sidebar">
						<ul class="list-unstyled navbar__list">
							<li class=" has-sub">
								<a class="js-arrow" href="#">
								<i class="fas fa-robot"></i><span class="fas fa-angle-left"></span>ربات اینستاگرام</a>
								<ul class="list-unstyled navbar__sub-list js-sub-list">
									<li>
										<a href="/client/dashboard/">
										<i class="fas fa-users"></i>لیست اکانت ها</a>
									</li>
									<li>
										<a href="/client/{{ request.user.id }}/charts/">
										<i class="fas fa-chart-bar"></i>گزارش گیری و آمار</a>
									</li>
									<li>
										<a href="/client/plan/list/">
										<i class="fas fa-credit-card"></i>خرید اعتبار ربات اینستاگرام</a>
									</li>
								</ul>
							</li>
							<li class="has-sub">
								<a class="js-arrow" href="#">
								<i class="fas fa-images"></i><span class="fas fa-angle-left"></span>سیستم ارسال محتوا</a>
								<ul class="list-unstyled navbar__sub-list js-sub-list">
									<li>
										<a href="/client/{{ request.user.id }}/post/">
										<i class="fas fa-image"></i>ارسال جدید</a>
									</li>
									<li>
										<a href="/client/{{ request.user.id }}/post/list/">
										<i class="fas fa-folder"></i>مدیریت فایل ها</a>
									</li>
								</ul>
							</li>
							<li class="has-sub">
								<a class="js-arrow" href="#">
								<i class="fas fa-ticket-alt"></i><span class="fas fa-angle-left"></span>تیکت پشتیبانی</a>
								<ul class="list-unstyled navbar__sub-list js-sub-list">
									<li>
										<a href="/ticket/{{ request.user.id }}/">
										<i class="fas fa-plus"></i>تیکت جدید</a>
									</li>
									<li>
										<a href="/ticket/{{ request.user.id }}/list/">
										<i class="fas fa-list-alt"></i>پیگیری تیکت ها</a>
									</li>
									{% if request.user.is_staff %}
										<li>
											<a href="/ticket/unseen/">
											<i class="fas fa-list-alt"></i>تیکت های جدید</a>
										</li>
										<li>
											<a href="/ticket/unreplied/">
											<i class="fas fa-list-alt"></i>تیکت های پاسخ داده نشده</a>
										</li>
									{% endif %}
								</ul>
							</li>
							<li class="has-sub">
								<a class="js-arrow" href="#">
								<i class="fas fa-cogs"></i><span class="fas fa-angle-left"></span>تنظیمات</a>
								<ul class="list-unstyled navbar__sub-list js-sub-list">
									<li>
										<a href="/client/reset/">
										<i class="fas fa-key"></i>تعویض رمز عبور</a>
									</li>
									<li>
										<a href="/client/{{ request.user.id }}/history/">
										<i class="fas fa-list-alt"></i>سوابق پرداخت ها</a>
									</li>
									{% if request.user.marketer %}
										<li>
											<a href="/client/{{ request.user.id }}/marketer/">
											<i class="fas fa-list-alt"></i>اطلاعات بازاریاب</a>
										</li>
									{% endif %}
								</ul>
							</li>
							<li>
								<a href="/client/plan/list"/>
								<i class="fas fa-credit-card"></i>شارژ حساب کاربری</a>
							</li>
							{% if request.user.is_staff %}
								<li class="has-sub">
									<a class="js-arrow" href="#">
									<i class="fas fa-ticket-alt"></i><span class="fas fa-angle-left"></span>مدیریت پلن</a>
									<ul class="list-unstyled navbar__sub-list js-sub-list">
										<li>
											<a href="/client/plan/">
											<i class="fas fa-plus"></i>اضافه کردن پلن جدید</a>
										</li>
										<li>
											<a href="/client/plan/plans/">
											<i class="fas fa-list-alt"></i>لیست پلن ها</a>
										</li>
									</ul>
								</li>

								<li class="has-sub">
										<a class="js-arrow" href="#">
										<i class="fas fa-ticket-alt"></i><span class="fas fa-angle-left"></span>مدیریت کاربران</a>
										<ul class="list-unstyled navbar__sub-list js-sub-list">
											<li>
												<a href="/client/all/">
												<i class="fas fa-plus"></i>لیست مشتری ها</a>
											</li>
											<li>
												<a href="/client/marketers/">
												<i class="fas fa-list-alt"></i>مدیریت بازاریابان</a>
											</li>
										</ul>
									</li>

								<li>
									<a href="/client/usercharges/">
									<i class="fas fa-plus"></i>مدیریت شارژ یوزر های اینستاگرام</a>
								</li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</aside>
			<!-- END MENU SIDEBAR-->
			<!-- PAGE CONTAINER-->
			<div class="page-container">
				<!-- HEADER DESKTOP-->
				<header class="header-desktop">
					<div class="section__content section__content--p30">
						<div class="container-fluid">
							<div class="header-wrap">
								<!--
									<form class="form-header" action="" method="POST">
									    <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
									    <button class="au-btn--submit" type="submit">
									        <i class="zmdi zmdi-search"></i>
									    </button>
									</form>
									-->
								<div class="header-button">
									<div class="account-wrap">
										<div class="account-item clearfix js-item-menu">
											<div class="image">
												<img src="{% static 'images/icon/avatar-01.jpg' %}" alt="John Doe" />
											</div>
											<div class="content">
												<a class="js-acc-btn" href="#">{{ request.user.username }}</a>
											</div>
											<div class="account-dropdown js-dropdown">
												<div class="info clearfix">
													<div class="image">
														<a href="#">
														<img src="{% static 'images/icon/avatar-01.jpg' %}" alt="John Doe" />
														</a>
													</div>
													<div class="content">
														<h5 class="name">
															<a href="#">{{ request.user.username }}</a>
														</h5>
														<span class="email">{{ request.user.email }}</span>
													</div>
												</div>
												<div class="account-dropdown__body">
													<div class="account-dropdown__item">
														<a href="/client/{{ request.user.id }}/email/">
														<i class="zmdi zmdi-account"></i>تغییر ایمیل</a>
													</div>
													<div class="account-dropdown__item">
														<a href="/client/reset/">
														<i class="zmdi zmdi-settings"></i>تغییر کلمه عبور</a>
													</div>
													<div class="account-dropdown__item">
														<a href="/client/{{ user.id}}/history/">
														<i class="zmdi zmdi-money-box"></i>صورت حساب</a>
													</div>
													{% if request.user.marketer %}
														<div class="account-dropdown__item">
															<a href="/client/{{ user.id}}/marketer/">
															<i class="zmdi zmdi-money-box"></i>اطلاعات بازاریاب</a>
														</div>
													{% endif %}
												</div>
												<div class="account-dropdown__footer">
													<a href="/client/logout/">
													<i class="zmdi zmdi-power"></i>خروج</a>
												</div>
											</div>
										</div>
									</div>
									<div class="noti-wrap">
										<div class="noti__item js-item-menu">
											<i class="zmdi zmdi-email" onclick="seen_blocks()"></i>
											<span class="quantity" id="block_count">0</span>
											<div class="email-dropdown js-dropdown" id="block_addhere" style="height: 308px;overflow-y: auto;">
												<div class="email__title">
													<p id="block_count_text">شما 0 ایمیل جدید دارید</p>
												</div>

												<div class="email__footer" id="block_addbeforethis" style="display: none;">
													<a href="#">نمایش بقیه ایمیل ها</a>
												</div>
											</div>
										</div>
										<div class="noti__item js-item-menu">
											<i class="zmdi zmdi-notifications" onclick="delete_fbacks()"></i>
											<span class="quantity" id="fback_count">0</span>
											<div class="notifi-dropdown js-dropdown" id="fback_addhere" style="height: 308px;overflow-y: auto;">
												<div class="notifi__title">
													<p id="fback_count_text">شما 0 اطلاعیه جدید دارید</p>
												</div>

												<div class="notifi__footer" id="fback_addbeforethis" style="display: none;">
													<a href="#">نمایش بقیه اطلاعیه ها</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
				<!-- HEADER DESKTOP-->
				{% block main %}
				{% endblock %}
				<!-- END MAIN CONTENT-->
				<!-- END PAGE CONTAINER-->
			</div>
		</div>
		<!-- Jquery JS -->
		<script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
		<!-- Bootstrap JS -->
		<script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
		<!-- Vendor JS -->
		<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
		<script src="{% static 'vendor/wow/wow.min.js' %}"></script>
		<script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
		<script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
		<script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
		<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
		<script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
		<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
		<!-- Main JS-->
		<script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
		<script>
			function load_follow_backs(){
				fback_count = document.getElementById('fback_count');
				fback_count_text = document.getElementById('fback_count_text');
				fback_addhere = document.getElementById('fback_addhere');
				fback_addbeforethis = document.getElementById('fback_addbeforethis');

				const Http = new XMLHttpRequest();
				const url = '/notification/followback/{{ request.user.id }}/';
				Http.open("GET", url);
				Http.send();
				Http.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						 var output = JSON.parse(this.responseText);

						 for(var i=output.length - 1; i>= 0; --i){
							var div = document.createElement('div');
							div.setAttribute('class', 'notifi__item');
							div.innerHTML = `
								<div class="bg-c2 img-cir img-40">
									<i class="zmdi zmdi-account-box"></i>
								</div>
								<div class="content">
									<p>` + output[i].fields.text + `</p>
									<span class="fback_nid" id="` + output[i].pk + `" style="display:none;"></span>
									<span class="date">` + output[i].timestamp + `</span>
								</div>`
							fback_addhere.insertBefore(div, fback_addbeforethis);
						}

						if (output.length == 0) fback_count.style.display = 'none';
						else{
							fback_count.style.display = 'block';
							fback_count.innerHTML = output.length;
						}

						fback_count_text.innerHTML = 'شما ' + output.length + ' اطلاعیه جدید دارید.';
					}
				}
			}
			load_follow_backs();

			function delete_fbacks(){
				var fbacks = document.getElementsByClassName('fback_nid');
				for (var i=0; i<fbacks.length; ++i){
					var fback = fbacks[i];
					var nid = fback.id;
					const Http = new XMLHttpRequest();
					const url = '/notification/followback/{{ request.user.id }}/' + nid + '/delete/';
					Http.open("GET", url);
					Http.send();
					Http.onreadystatechange = function() {
					}
				}
			}

			function load_blocks(){
				block_count = document.getElementById('block_count');
				block_count_text = document.getElementById('block_count_text');
				block_addhere = document.getElementById('block_addhere');
				block_addbeforethis = document.getElementById('block_addbeforethis');

				const Http = new XMLHttpRequest();
				const url = '/notification/block_ticket/{{ request.user.id }}/';
				Http.open("GET", url);
				Http.send();
				Http.onreadystatechange = function() {
					var unseen_count = 0;
					if (this.readyState == 4 && this.status == 200) {
						 var output = JSON.parse(this.responseText);
						 for(var i=output.length - 1; i>= 0; --i){
						 	if (!output[i].fields.seen)
						 		unseen_count++;
							var div = document.createElement('div');
							div.setAttribute('class', 'email__item');
							pic = (output[i].fields.pic_url == undefined ) 	? '/static/images/icon/avatar-06.jpg':output[i].fields.pic_url
							div.innerHTML = `
								<div class="image img-cir img-40">
										<img src="` + pic + `" />
									</div>
									<div class="content" ` + ((output[i].fields.type == 5) ? `onclick="window.location='/ticket/` + output[i].fields.client + `/list/'"` : ``) + `>
										<p>` + output[i].fields.text + `</p>
										<span class="` + ((output[i].fields.type == 5) ? `ticket_nid` : `block_nid`) + `" id="` + output[i].pk + `" style="display:none;"></span>
									<span class="date">` + output[i].timestamp + `</span>
									</div>`
							block_addhere.insertBefore(div, block_addbeforethis);
						 }

						if (unseen_count == 0) block_count.style.display = 'none';
						else{
							block_count.style.display = 'block';
						 	block_count.innerHTML = unseen_count;
						}

						 block_count_text.innerHTML = 'شما ' + unseen_count + ' اطلاعیه جدید دارید.';
					}
				}
			}
			load_blocks();

			function seen_blocks(){
				var blocks = document.getElementsByClassName('block_nid');
				for (var i=0; i<blocks.length; ++i){
					var block = blocks[i];
					var nid = block.id;
					const Http = new XMLHttpRequest();
					const url = '/notification/block/{{ request.user.id }}/' + nid + '/seen/';
					Http.open("GET", url);
					Http.send();
					Http.onreadystatechange = function() {

					}
				}

				var tickets = document.getElementsByClassName('ticket_nid');
				for (var i=0; i<tickets.length; ++i){
					var ticket = tickets[i];
					var nid = ticket.id;
					const Http = new XMLHttpRequest();
					const url = '/notification/block/{{ request.user.id }}/' + nid + '/seen/';
					Http.open("GET", url);
					Http.send();
					Http.onreadystatechange = function() {

					}
				}
			}
		</script>
		{% block script %}
		{% endblock %}
	</body>
</html>
<!-- end document-->